<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894866026140-slvgo56mhfdi5d6h8eh5hsl6sdp3q041.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894866026140-slvgo56mhfdi5d6h8eh5hsl6sdp3q041</string>
	<key>API_KEY</key>
	<string>AIzaSyD94fzxon7fFRntw1POt6wYH8d_Mbfi_lo</string>
	<key>GCM_SENDER_ID</key>
	<string>894866026140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.brymocodes.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-3ae94</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-3ae94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894866026140:ios:d7cba34ada220136fd4759</string>
</dict>
</plist>